In [1]:
2 + 4

6

In [2]:
5 + 9

14

In [3]:
def soma(a,b):
    return a+b

In [4]:
soma(10,50)

60

In [5]:
soma(4,-6)

-2

In [6]:
i = 1

In [13]:
while i <= 10:
    print(soma(i,i))
    i+= 1

In [14]:
dados = {
    "func1": {"nome": "Fulano1", "idade": 24, "salario": 1000.00},
    "func2": {"nome": "Fulano2", "idade": 25, "salario": 2000.00},
    "func3": {"nome": "Fulano3", "idade": 45, "salario": 3000.00},
    "func4": {"nome": "Fulano4", "idade": 55, "salario": 3456.00},
    "func5": {"nome": "Fulano5", "idade": 66, "salario": 34687.00},
    "func6": {"nome": "Fulano6", "idade": 77, "salario": 34123.00},
    "func7": {"nome": "Fulano7", "idade": 84, "salario": 1123.00},
    "func8": {"nome": "Fulano8", "idade": 34, "salario": 5761.00},
    "func9": {"nome": "Fulano9", "idade": 36, "salario": 5672.00},
    "func10": {"nome": "Fulano10", "idade": 18, "salario": 32412.00}
}

In [15]:
dados

{'func1': {'nome': 'Fulano1', 'idade': 24, 'salario': 1000.0},
 'func2': {'nome': 'Fulano2', 'idade': 25, 'salario': 2000.0},
 'func3': {'nome': 'Fulano3', 'idade': 45, 'salario': 3000.0},
 'func4': {'nome': 'Fulano4', 'idade': 55, 'salario': 3456.0},
 'func5': {'nome': 'Fulano5', 'idade': 66, 'salario': 34687.0},
 'func6': {'nome': 'Fulano6', 'idade': 77, 'salario': 34123.0},
 'func7': {'nome': 'Fulano7', 'idade': 84, 'salario': 1123.0},
 'func8': {'nome': 'Fulano8', 'idade': 34, 'salario': 5761.0},
 'func9': {'nome': 'Fulano9', 'idade': 36, 'salario': 5672.0},
 'func10': {'nome': 'Fulano10', 'idade': 18, 'salario': 32412.0}}

In [16]:
for funcionario in dados:
    print("Nome: ", dados[funcionario]["nome"])

Nome:  Fulano1
Nome:  Fulano2
Nome:  Fulano3
Nome:  Fulano4
Nome:  Fulano5
Nome:  Fulano6
Nome:  Fulano7
Nome:  Fulano8
Nome:  Fulano9
Nome:  Fulano10

In [17]:
for funcionario in dados:
    print(funcionario)

func1
func2
func3
func4
func5
func6
func7
func8
func9
func10

In [18]:
for funcionario in dados:
    print("idade: ", dados[funcionario]["idade"])

idade:  24
idade:  25
idade:  45
idade:  55
idade:  66
idade:  77
idade:  84
idade:  34
idade:  36
idade:  18